@import "settings/colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $color-black;
  border-radius: 5px;


  nav ul {
    display: flex;
    flex-direction: row;

    :hover {
      background-color: lighten($color-black, 10%);


    }

    li {
      padding: 2rem 3rem;
      cursor: pointer;


      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        font-size: 1.5rem;
      }

    }

  }
}

.header_color {
  font-size: 2rem;
  padding: 2rem;
  font-style: italic;
  color: $color-white;

  span {
    color: #ffe449;
  }
}
.logo {
  a {
    text-decoration: none;
  }
}

@media (max-width: 640px) {
  .header {
    display: flex;
    flex-direction: column;
    width: 100vw;

    nav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

  }

}

@media (min-width: 641px) and (max-width: 1024px) {

  .header {
    display: flex;
    flex-direction: column;
    width: 100vw;

    nav ul {
      display: flex;
      width: 100vw;
      justify-content: space-between;
    }

  }
}

@media (min-width: 1025px) and (max-width: 1366px) {

  .header {
    display: flex;
    flex-direction: column;
    width: 100vw;

    nav ul {
      display: flex;
      width: 100vw;
      justify-content: space-between;
    }
  }
}