.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .header_color {
    color: orange;
  }

  ul {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    width: 500px;
  }
}